body {
 margin: 0;
 padding: 0;
 font-family: "Open Sans", sans-serif; }
  

h3 {
 margin: 0;
 padding: 0;
 font-family: "Lobster", cursive; }

  #jumbo h1{
   color: white;
   font-family: 'Monoton', cursive;
  }

  h1 {
   color: red;
  }

  #welcome h1 {
   font-family: 'Dancing Script', cursive;
  }

  #fp h1 {
   text-align: center;
   color: green;
  }

h2 {
  color: red;
  font-family: 'Monoton', cursive;
 }

  h4 {
    font-family: 'Dancing Script', cursive;
    font-size: large;
    color: green;
  }

  h3 {
    font-family: 'Dancing Script', cursive;
    color: red;
  }

  .productCards {
    width:100%;
    height:auto;
  }

  .owl-carousel .owl-item img {
    display: block;
    height: 500px;
    width: 500px;
    min-width: 100%;
}

.site-footer {
  background-image: linear-gradient(#590004, black);
  padding: 20px 0; }
  

.jumbotron {
  overflow: auto;
  background-image: linear-gradient(to left, #69140E, #590004, black, black);
  color: white; }

  .navbar {
   background-image: linear-gradient(to right, #69140E, #590004, black, black);
  background-color: black; }

.row-content {
  padding: 50px, 0;
  border-bottom: 1px ridge;
  min-height: 200px; }